## Sessión 5

Importación de librerias necesarias.

In [13]:
import numpy as np
import pandas as pd
import re

### Manipulación de Archivos

#### Actividad 1: Cargue de archivos para explorar

In [23]:
df = pd.read_csv('../data/csv/usuarios_win_mac_lin.csv')
type(df)

pandas.core.frame.DataFrame

In [27]:
# Obtener nombre de columnas y que tipo de datos son
df.dtypes

duracion    float64
paginas       int64
acciones      int64
valor         int64
clase         int64
dtype: object

In [29]:
#Ver datos de las primeras columnas, por default son 5
df.head()

   duracion  paginas  acciones  valor  clase
0       7.0        2         4      8      2
1      21.0        2         6      6      2
2      57.0        2         4      4      2
3     101.0        3         6     12      2
4     109.0        2         6     12      2

In [35]:
#Ver datos de las ultimas columnas, por default son 5
df.tail()

     duracion  paginas  acciones  valor  clase
165      13.0        1         7     42      0
166      12.0        1         2      6      0
167      13.0        1         3      9      0
168      13.0        1         7     28      0
169      12.0        1         6     18      0

#### Actividad 2: Exploración de valores nulos, máximos y minimos de cada columna.

In [47]:
#Conteo de valores nulos por columna
df.isnull().sum()

duracion    0
paginas     0
acciones    0
valor       0
clase       0
dtype: int64

In [49]:
#Valores maximos por columna
df.max()

duracion    898.0
paginas       9.0
acciones     63.0
valor       378.0
clase         2.0
dtype: float64

In [51]:
#Valores minimos por columna
df.min()

duracion    1.0
paginas     1.0
acciones    1.0
valor       1.0
clase       0.0
dtype: float64

In [55]:
#Conteo de valores por columna
df['clase'].value_counts()

clase
0    86
2    44
1    40
Name: count, dtype: int64

In [59]:
#Mostrar la cantidad de valores unicos.
df['clase'].nunique()

3

In [61]:
#Mostrar los valores unicos.
df['clase'].unique()

array([2, 1, 0], dtype=int64)

In [66]:
#Agrupación de valores de una columna + obtención de media
df.groupby(by=['clase']).mean()

         duracion   paginas   acciones      valor
clase
0       79.033663  2.127907  11.465116  43.174419
1      156.234550  1.950000   7.650000  38.875000
2      132.649932  1.954545   4.340909   6.522727

In [68]:
# Ejercicio exploratorio de datos de agrupación teniendo en cuenta otras operaciones.
# count (conteo), mean (average), max (maximo), min (minimo), std (desviación estandar)
df.groupby(by=['clase']).agg(['count', 'mean', 'max', 'min', 'std'])

      duracion                                       paginas                \
         count        mean    max    min         std   count      mean max
clase
0           86   79.033663  783.0  1.000  167.196238      86  2.127907   9
1           40  156.234550  848.0  1.088  210.712617      40  1.950000   6
2           44  132.649932  898.0  1.105  247.253441      44  1.954545   6

                    acciones                               valor             \
      min       std    count       mean max min        std count       mean
clase
0       1  1.740835       86  11.465116  63   1  11.452919    86  43.174419
1       1  0.985797       40   7.650000  24   2   4.774666    40  38.875000
2       1  1.396916       44   4.340909  15   1   3.510404    44   6.522727


       max min        std
clase
0      378   2  54.901879
1      144  12  31.912691
2       24   1   5.756649

In [70]:
# Ejercicio de exploración describiendo las columnas
df.describe()

         duracion     paginas    acciones       valor       clase
count  170.000000  170.000000  170.000000  170.000000  170.000000
mean   111.075729    2.041176    8.723529   32.676471    0.752941
std    202.453200    1.500911    9.136054   44.751993    0.841327
min      1.000000    1.000000    1.000000    1.000000    0.000000
25%     11.000000    1.000000    3.000000    8.000000    0.000000
50%     13.000000    2.000000    6.000000   20.000000    0.000000
75%    108.000000    2.000000   10.000000   36.000000    2.000000
max    898.000000    9.000000   63.000000  378.000000    2.000000

In [82]:
# Exploración de datos cuando el filtrado de los mismos en la variable clase sea igual a zero (0)
df[df['clase'] == 0].describe()

         duracion    paginas   acciones       valor  clase
count   86.000000  86.000000  86.000000   86.000000   86.0
mean    79.033663   2.127907  11.465116   43.174419    0.0
std    167.196238   1.740835  11.452919   54.901879    0.0
min      1.000000   1.000000   1.000000    2.000000    0.0
25%     11.000000   1.000000   4.000000   15.000000    0.0
50%     13.000000   1.000000   7.500000   27.500000    0.0
75%     30.000000   2.000000  17.500000   52.500000    0.0
max    783.000000   9.000000  63.000000  378.000000    0.0

In [88]:
# Exploración de datos cuando el filtrado de los mismos en la variable clase sea igual a zero (0) y duración sea mayor a 30
df[(df['clase'] == 0) & (df['duracion'] > 30)].describe()

         duracion    paginas   acciones       valor  clase
count   21.000000  21.000000  21.000000   21.000000   21.0
mean   288.190476   2.857143  16.428571   73.380952    0.0
std    240.613511   1.740279  14.894870   92.439427    0.0
min     50.000000   1.000000   2.000000    6.000000    0.0
25%     87.000000   2.000000   7.000000   24.000000    0.0
50%    195.000000   2.000000  12.000000   36.000000    0.0
75%    530.000000   3.000000  20.000000   64.000000    0.0
max    783.000000   9.000000  63.000000  378.000000    0.0

In [91]:
#Obtener la información generalizada de un dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   duracion  170 non-null    float64
 1   paginas   170 non-null    int64
 2   acciones  170 non-null    int64
 3   valor     170 non-null    int64
 4   clase     170 non-null    int64
dtypes: float64(1), int64(4)
memory usage: 6.8 KB

In [99]:
# Obtener valores nulos de un data set
df = pd.read_csv('../data/csv/census_income-1.csv')
df.isnull().sum()

Unnamed: 0          0
age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64

In [111]:
#Borrar todos los datos nulos de un Dataframe
df = pd.read_csv('../data/csv/census_income-1.csv')
df2 = df.dropna()
print(df2.shape)
print(df.shape)
df2.isnull().sum()

(47621, 16)
(48842, 16)

Unnamed: 0        0
age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64